<div class="page-header">
  <%= link_to new_property_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New property
  <% end %>
  <h1>Property list</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th></th>
        <% if can? :update, Property %><th></th><% end %>
        <% if can? :destroy, Property %><th></th><% end %>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @properties) do |property| %>
        <td><%= property.name %></td>
        <td><%= link_to 'Show', property %></td>
        <% if can? :update, Property %>
        <td>
          <%= link_to 'Edit', edit_property_path(property) %>
        </td>
        <% end %>
        <% if can? :destroy, Property %>
        <td>
          <%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Sure?' } %>
        </td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
